* { 
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
}

body{
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.content__main{
  float:left;
  /* display:flex;
  flex-direction: row; */
}