.favorites__title{
    width: 83vw;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 10px 10px;
}

.favorites__empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83vw;
    height: 96vh;
}

.favorites__content{
    display: flex;
    flex-direction: row;
    align-items: "self-start";
    width: 75vw;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 300px;
    min-height: 150px;
    padding-bottom: 20px;
}

.card__title{
    padding: 15px 15px 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card__subtitle{
    padding-left: 15px;
    margin-bottom: 10px;
    color: #828282;
}

.card__image{
    padding: 10px;
    width: 200px;
    height: 200px;
}

.card__content{
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    flex-direction: column;
    padding-left: 5px;
}

.closebutton__card{
    cursor: pointer;
    float:right;
    width: 20px;
    background-color: #FFFFFF;
    border: none;
    color: #828282;
    font-size: 24px;

}
.modal__background{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(144, 148, 150, 0.8);
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.remove__modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.1);
}

.removemodal__header{
    height: 35px;
    background-color: #f2d7d7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.header__text{
    padding-left: 20px;
    color: #be2f2f;
}

#cancelbutton{
    cursor: pointer;
    background-color: #f2d7d7;
    border: none;
    color: #828282;
    font-size: 24px;
    margin: 5px;
}

.removemodal__text{
    padding: 20px;
}

.removemodal__buttons{
    float: right;
    padding: 15px;
}
#cancelmodal, #remove{
    padding: 8px;
    border: none;
    cursor: pointer;
}

#cancelmodal{
    color: #1c5686;
    background-color: #FFFFFF;
    margin-right: 15px;
    padding-bottom: 10px;
    text-decoration: underline;
}

#remove{
    background-color: #be2f2f;
    color: #FFFFFF;
    border-radius: 4px;
}